body{
  display:flex;
  flex-direction: column;
  margin: 0px;
}
body *{
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  font-size: large;
}

.hero{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.hero-text{
  font-size: 70px;
}

.hero-description{
  font-size: 70px;
}

.nav-options{
  display:flex;
  list-style-type:none;
  justify-content: right;
  gap: 30px;
  padding: 10px 200px 10px 200px;
}

.nav-options a{
  text-decoration: none;
  font-weight: bold;
}


.nav-hero{
  margin-right:auto;
}

.about{
  margin-top: 100px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.about-header{
  font-size: 30px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.about-content{
  display: flex;
  gap: 100px;
  margin-left: 250px;
  margin-right: 250px;
  align-items: center;
  justify-content: center;
}

.about-body{
  flex-basis: 1;
  width: 50%;
}

.about-icons{
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  width: 50%;
  justify-content: center;
  flex-basis: 1;
  gap: 10px;
}

.about-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px grey solid;
  border-radius: 1000px;
}

.about-icon img{
  width: 100px;
  height: 100px;
  object-fit: contain;
}