body{
  display:flex;
  flex-direction: column;
  margin: 0px;
}

body *{
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  font-size: large;
}

.hero{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.hero-text{
  font-size: 70px;
  text-align: center;
}

.hero-description{
  font-size: 70px;
  text-align: center;
}

.navigation-bar{
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1000;
  background-color: white;
}

.nav-options{
  display:flex;
  list-style-type:none;
  justify-content: right;
  gap: 30px;
  padding: 10px 10% 10px 10%;
}

.nav-options a{
  text-decoration: none;
  font-weight: bold;
}


.nav-hero{
  margin-right:auto;
}

.about{
  margin-top: 100px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.about-header{
  font-size: 30px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.about-content{
  display: flex;
  width: 80%;
  gap: 10%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.about-body{
  flex: 1 1 50%;
}

.about-icons{
  flex: 1 1 40%;
  min-width: 350px;
  height: 250px;
  position: relative;
  display: flex;
  align-items: center;
}

.about-icon{
  left: 50%;
  position: absolute;
  background-color: white;
  border: 2px grey solid;
  border-radius: 50%;
  overflow: hidden;
  
  
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 15%; */
  transform-origin: center center;
  width: clamp(30px, 15%, 80px);
  aspect-ratio: 1;
}

.about-icon img{
  position: absolute;
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.projects{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.project{
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  width: 70%;
  column-gap: 20%;
  row-gap: 10px;
  flex-wrap: wrap;
}

.project-section-header{
  font-size: 30px;
  margin-bottom: 40px;
  text-decoration: underline;
}

.project-text{
  display: flex;
  margin-top: 1%;
  flex-direction: column;
  gap: 5%;
  min-width: 200px;
  flex: 1 1 25%;
}

.project-header{
  font-weight: bold;
}

.project img{
  aspect-ratio: 16/9;
  height: 270px;
  width: 485px;
  border: 1px solid grey;
  object-fit: cover;
}

.contact{
  justify-self: center;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 2%;
  border-radius: 5px;
  background-color: lightgrey;
}

.contact-header{
  font-size: 25px;
  font-weight: bold;
}

.contact form{
  display: flex;
  flex-direction: column;
}

.contact form > *{
  font-size: auto;
  margin-top: 1%;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.contact input[type=submit]{
  background-color: green;
  color: white;
  font-weight: bolder;
  padding: 10px;
  align-self: end;
  text-align: center;
  width: 100px;
  border-radius: 10px;
  text-size-adjust: auto;
}

footer{
  text-align: center;
  font-size: small;
  color: grey;
}