body{
  display:flex;
  flex-direction: column;
  margin: 0px;
}
body *{
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  font-size: large;
}

.hero{
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.hero-text{
  font-size: 70px;
}

.hero-description{
  font-size: 70px;
}

.nav-options{
  display:flex;
  list-style-type:none;
  justify-content: right;
  gap: 30px;
  padding: 10px 200px 10px 200px;
}

.nav-options a{
  text-decoration: none;
  font-weight: bold;
}


.nav-hero{
  margin-right:auto;
}

.about{
  margin-top: 100px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.about-header{
  font-size: 30px;
  margin-bottom: 20px;
  text-decoration: underline;
}

.about-content{
  display: flex;
  gap: 100px;
  margin-left: 200px;
  margin-right: 200px;
  align-items: center;
  justify-content: center;
}

.about-body{
  flex: 1 1 50%;
}

.about-icons{
  flex: 1 1 50%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;  
}

.about-icon{
  left: 50%;
  top: 50%;
  position: absolute;
  background-color: white;
  flex: 1 1 1%;
  border: 2px grey solid;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  aspect-ratio: 1;
}

.about-icon img{
  width: 90%;
  height: 90%;
  object-fit: contain;
}

.projects{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.project{
  margin-top: 50px;
  display: flex;
  gap: 200px;
  justify-content: space-between;
  width: 70%;
  margin-left: 10%;
  margin-right: 10%
}

.project-section-header{
  font-size: 30px;
  margin-bottom: 40px;
  text-decoration: underline;
}

.project-text{
  display: flex;
  margin-top: 1%;
  flex-direction: column;
  gap: 25px;
}

.project-header{
  font-weight: bold;
}

.project img{
  width: 485px;
  border: 1px solid grey;
  height: 270px;
  object-fit: cover;
}

footer{
  text-align: center;
  font-size: small;
  color: grey;
}